body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#playlist div {
  background: hsl(184, 68%, 48%);
  padding: 15px;
  margin: 10px auto;
  width: 90%;
  max-width: 350px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

#playlist div:hover {
  background: #333;
}

button {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

button:hover {
  background: #1ed760;
}

audio {
  width: 90%;
  max-width: 350px;
  margin-top: 20px;
  
}
img {
  width: 50%;
  border-radius: 10px;
}
.player {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color:  hsl(184, 68%, 48%);
  border-radius: 10px;
}
.controls{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}



